<p>
  <a href="{% url 'learning_logs:index' %}">Журнал обучения</a> -
  <a href="{% url 'learning_logs:topics' %}">Темы</a> -
  {% if user.is_authenticated %}
    Приветствуем, {{ user.username }}.
  {% else %}
    <a href="{% url 'accounts:login' %}">Войти</a>
  {% endif %}
</p>

{% block content %}{% endblock content %}

{% if user.is_authenticated %}
  <hr />
  <form action="{% url 'accounts:logout' %}" method='post'>
    {% csrf_token %}
    <button name='submit'>Выйти</button>
  </form>
{% endif %}